*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

    text-decoration: none;
    list-style: none;

    scroll-behavior: smooth !important;
}

p {
    color: beige;
    font-size: 18px;
    text-align: center;
}

body {
    background-color: rgb(10, 10, 10);
}

.main {
    margin-left: 40%;
    padding: 0px 10px;
}

h1, h2 {
    color: blanchedalmond;
}

h3 {
    color: rgb(225, 205, 175);
}

.link {
    font-weight: bold;
    color: beige;
    transition: 0.3s ease;
}

.link:hover {
    color: rgb(255, 236, 151);
}

.section {
    margin-top: 8%;
}

.section-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.element {
    width: 200px;
    height: 200px;

    border: 2px solid;
    border-color: blanchedalmond;
    border-radius: 5%;
}

.section-title {
    text-align: center;
    margin-bottom: 2%;
}

.social-link {
    fill: rgb(85, 85, 85);
    transition: 0.3s ease;
}

.social-link:hover {
    fill: blanchedalmond;
}

/* NAV BAR */

/* .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20x 10%;
    background: rgba(20, 20, 20, 0.8);
} */

.sidebar {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: rgb(12, 12, 12);
}

.sidebar-inner {
    padding-left: 10%;
}

.sidenav {
    display: flex;
    flex-direction: column;
    max-width: 20%;
}

.sidenav a{
    font-size: 18;
    color: rgb(85, 85, 85);
    font-weight: 400;
    margin: 20px 20px;
    transition: 0.3s ease;
}

.sidenav a:hover{
    padding-left: 5px;
}

.sidenav a:hover,
.sidenav a#active{
    color: blanchedalmond;
}

/* INTRO SECTION */

#hidden-intro {
    display: none;
}

.portrait img{
    border: 2px solid;
    border-color: blanchedalmond;
    border-radius: 10%;
}

.intro-flex {
    margin-top: 12%;

    display: flex;
    justify-content: center;
}

.portrait + .intro-text {
    margin-left: 10px;
}

@media screen and (max-width: 1100px) {
    /* .sidenav {
        display: none;
    }

    .sidebar {
        height: 40%;
        width: 100%;
        padding-top: 5px;
    } */

    .intro-flex {
        margin-top: 5%;
    }

    .sidebar {
        display: none;
    }

    .main {
        margin-left: 0%;
    }

    #hidden-intro {
        display: flex;
    }
}
