*, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

    text-decoration: none;
    list-style: none;

    scroll-behavior: smooth !important;

    /* NO SELECT */

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

p {
    color: beige;
    font-size: 16px;
    text-align: center;
    margin: 8px;
}

body {
    background-color: rgb(10, 10, 10);
}

.main {
    margin-left: 40%;
    padding: 0px 10px;
}

h1, h2 {
    color: blanchedalmond;
}

h3 {
    color: rgb(196, 179, 153);
}

.link {
    font-weight: bold;
    color: rgb(209, 194, 171);
    transition: 0.3s ease;
}

.link:hover {
    color: beige;
}

.section {
    margin-top: 8%;
}

.section-flex, .social-section-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5%;
}

.element {
    width: 200px;
    height: 200px;

    border: 1px solid;
    border-color: rgb(85, 85, 85);
    border-radius: 5%;

    transition: 0.3s ease;
}

.element:hover {
    border-color: blanchedalmond;
}

/* LOCATION STUFF */

.az-element {
    display: none;
    background-color: aqua;
    color: blue;
    width: 100px;
    height: 100px;
}

#az-link:hover .az-element {
    display: block;
} 

/* ADD ELEMENT HOVERS rgb(85, 85, 85); BLANCHED ALMOND*/

.section-title {
    text-align: center;
    margin-bottom: 2%;
}

.social-link {
    fill: rgb(85, 85, 85);
    transition: 0.3s ease;
}

.social-link:hover {
    fill: blanchedalmond;
}

.contact-paragraph {
    font-size: 18px;
    margin-bottom: 2%;
}

/* NAV BAR */

.sidebar {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: rgb(12, 12, 12);
}

.sidebar-inner {
    padding-left: 10%;
}

.sidenav {
    display: flex;
    flex-direction: column;
    max-width: 20%;
}

.sidenav a{
    font-size: 18;
    color: rgb(85, 85, 85);
    font-weight: 400;
    margin: 25px 0px 25px 0px;
    transition: 0.3s ease;
}

.sidenav a:hover{
    padding-left: 5px;
}

.sidenav a:hover,
.sidenav a#active{
    color: blanchedalmond;
}

/* INTRO SECTION */

#hidden-intro {
    display: none;
}

.portrait img{
    border: 2px solid;
    border-color: blanchedalmond;
    border-radius: 10%;
}

.intro-flex {
    margin-top: 12%;

    display: flex;
    /* justify-content: center; */
}

.portrait + .intro-text {
    margin-left: 10px;
}

/* LANGUAGE LIST DROPDOWN */

li {
    color: beige;
    font-size: 16px;
    text-align: center;
    margin: 8px;
}

#dropdown {
    height: 0px;
    width: 80%;
    max-height: 0px;
    overflow: hidden;

    opacity: 0;
    background-color:  rgb(12, 12, 12);

    border-radius: 5%;
    border: 1px solid;
    border-color: blanchedalmond;

    text-align: center;
    display: inline-block;

    transition: all .5s ease;
    z-index: 100;
}

#dropdown-label {
    text-align: center;
}

#dropdown-hover:hover #dropdown {
    height: 225px;
    max-height: 225px;
    opacity: 1;
    transform: translateY(0);
}

/* PROJECT SECTION */

.project-icon {
    width: 100%;
    height: 100%;

    border-radius: 5%;

    transition:opacity 0.3s ease;
}

.project-div {
    text-align: center;
    position: relative;
}

#project-text {
    position: absolute;
    overflow: hidden;
    z-index: -1;

    left: 5px;

    opacity: 0;

    transition:opacity 1s ease;
}

a#project-text {
    top: 5px;
}

p#project-text {
    top: 50px;
}

.project-div:hover .project-icon {
    opacity: 0;
}

.project-div:hover #project-text {
    opacity: 1;
}

/* @MEDIA */

@media screen and (max-width: 1100px) {
    .intro-flex {
        margin-top: 10%;
    }

    .sidebar {
        display: none;
    }

    .main {
        margin-left: 0%;
    }

    #hidden-intro {
        display: flex;
    }
}

@media screen and (max-width: 730px) {
    .section-flex {
        flex-direction: column;
        gap: 20px;
    }

    .element {
        width: 60vw;
        height: 60vw;
    }

    p {
        font-size: 5vw;
    }

    .link {
        font-size: 4.5vw;
    }
}

@media screen and (max-width: 450px) {
    p {
        font-size: 4vw;
    }
}

@media screen and (max-width: 375px) {
    .portrait img{
        width: 50vw;
        height: 50vw;
    }

    h1 {
        font-size: 8vw;
    }

    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 4vw;
    }

    .link {
        font-size: 4.5vw;
    }

    .contact-paragraph {
        font-size: 4.5vw;
    }

    .social-link {
        width: 15vw;
        height: 15vw;
    }
}
